h1, h3 {
  text-align: center;
}

h1{
  margin-bottom:-10px;
}

body > * {

    font-family: 'Source Code Pro', sans-serif;
}

input{
  background: red;
  color:white;
  padding:4 10px;
  border: 1px solid black;
  font-size: 1.2em;
  opacity: 0.8;
  cursor: pointer;
}

#grid {
  width: 525px;
	height: 525px;
  margin: 0px auto;
  outline: burlywood solid 10px;
}

.wrapper{
	position: relative;
}

#grid:after {
  content: "";
  clear: both;
  display: block;
}

form {
  margin-top: 40px;
}

input {
  margin: 0px auto;
  display: block;
}

.scorecount{
  position:relative;
  top:-800px;
  left:950px;
}

.gameover{
  position: relative;
  top:-85px;
}

.spot {
  outline: grey solid 1px;
	background:black;
  width: 15px;
  height: 15px;
  float: left;
}

.snake {
  background: green;
  width: 15px;
  height: 15px;
  float: left;
}

.finalscore{
  font-size: 30px;
  z-index: 1000;
  color:red;
  position: relative;
  top:-230px;
  left:60px;
}

#gameOver{
	font-family:helvetica;
	background:white;
	margin: 0 auto;
	position:relative;
  top:-500px;
	font-size:80px;
	text-align: center;
	line-height:200px;
	width:730px;
	height:213px;
	border: 2px solid black;
	z-index:10;
  visibility: hidden;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
  font-family: 'Source Code Pro', sans-serif;
}

.apple {
  background: red;
  width: 15px;
  height: 15px;
  float: left;
}

