h1, h3 {
  font-family: sans-serif;
  text-align: center;
}

body > * {
}

#grid {
  width: 525px;
	height: 525px;
  margin: 0px auto;
  outline: burlywood solid 10px;
}

.wrapper{
	position: relative;
}

#grid:after {
  content: "";
  clear: both;
  display: block;
}

form {
  margin-top: 40px;
}

input {
  margin: 0px auto;
  display: block;
  
}

.spot {
  outline: grey solid 1px;
	background:black;
  width: 15px;
  height: 15px;
  float: left;
}

.snake {
  background: green;
  width: 15px;
  height: 15px;
  float: left;
}
.counter{
  font-size:5em;
}
#gameOver{
	font-family:helvetica;
	background:white;
	margin: 0 auto;
	position:absolute;
	left: 230px;
	font-size:80px;
	text-align: center;
	line-height:200px;
	width:600px;
	height:200px;
	border: 2px solid black;
	z-index:10;
	display:none;
}

.apple {
  background: red;
  width: 15px;
  height: 15px;
  float: left;
}

.rock{
  background:gray;
  width: 15px;
  height: 15px;
  float: left;
}
