h1, h3 {
  font-family: 'Source Code Pro', sans-serif;
  text-align: center;
}

body > * {
}

#grid {
  width: 525px;
	height: 525px;
  margin: 0px auto;
  outline: burlywood solid 10px;
}

.wrapper{
	position: relative;
}

#grid:after {
  content: "";
  clear: both;
  display: block;
}

form {
  margin-top: 40px;
}

input {
  margin: 0px auto;
  display: block;
}

.scorecount{

}

.gameover{
  position: relative;
  top:-85px;
}

.spot {
  outline: grey solid 1px;
	background:black;
  width: 15px;
  height: 15px;
  float: left;
}

.snake {
  background: green;
  width: 15px;
  height: 15px;
  float: left;
}

.finalscore{
  font-size: 30px;
  z-index: 1000;
  color:red;
  position: relative;
  top:-230px;
  left:60px;
}

#gameOver{
	font-family:helvetica;
	background:white;
	margin: 0 auto;
	position:relative;
  top:-500px;
	font-size:80px;
	text-align: center;
	line-height:200px;
	width:730px;
	height:213px;
	border: 2px solid black;
	z-index:10;
  visibility: hidden;
  font-family: 'Source Code Pro', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}

.apple {
  background: red;
  width: 15px;
  height: 15px;
  float: left;
}


